@{
    ViewData["Title"] = "Ofrecer mi ayuda";
}
@section scripts{
}
@section logo{
    <a class=" img-container2" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Images/iconSol.png" /></a>
}
@section inicioLI{
    <li class="nav-item menuColor">
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="principalMb">Menu</a>
    </li>
    <li class="nav-item logIn ">
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ProfileMb">Mi perfil</a>
    </li>
    <li class="nav-item signUp">
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="LogOut">Cerrar Sesion</a>
    </li>
}
@section main{
    <section>
        <div class="container text-white">
            <div class="row d-flex justify-content-evenly align-items-start p-4 mt-3 thirdBg">
                <h1 class="font-title col-12 pb-2 text-center" style="font-size: 2em;">Gestionar Solicitudes</h1>
                <div class="p-0">
                    <ul class="nav nav-tabs p-0 border-0">
                        @if (ViewBag.activo == 1)
                        {
                            <li class="nav-item bgTabs">
                                <a class="nav-link active" onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 1})'">Pendientes</a>
                            </li>
                            <li class="nav-item bgTabs">
                                <a class="nav-link " onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 2})'">En Progreso</a>
                            </li>
                            <li class="nav-item bgTabs">
                                <a class="nav-link" onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 3})'">Finalizado</a>
                            </li>
                        }
                        else if (ViewBag.activo == 2)
                        {
                            <li class="nav-item bgTabs">
                                <a class="nav-link" onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 1})'">Pendientes</a>
                            </li>
                            <li class="nav-item bgTabs">
                                <a class="nav-link active" onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 2})'">En Progreso</a>
                            </li>
                            <li class="nav-item bgTabs">
                                <a class="nav-link" onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 3})'">Finalizado</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item bgTabs">
                                <a class="nav-link" onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 1})'">Pendientes</a>
                            </li>
                            <li class="nav-item bgTabs">
                                <a class="nav-link" onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 2})'">En Progreso</a>
                            </li>
                            <li class="nav-item bgTabs">
                                <a class="nav-link active" onclick="location.href='@Url.Action("ManageRequest", "Home",new {activeTab = 3})'">Finalizado</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="row m-0 thirdBg d-flex justify-content-evenly">
                    @foreach (Request request in ViewBag.Requests)
                    {
                        var base64 = Convert.ToBase64String(request.RequestPicture);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <div class="card reqCard fourthBg text-white col-3 m-2" data-bs-toggle="modal" data-bs-target="#ReqComplete" data-id="">
                            <img src="@imgSrc" class="card-img-top" alt="..." style="width: auto; height:250px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="font-title card-title secColor fs-5">@request.RequestTitle</h5>
                                <p class="card-text secColor fw-bold">Ubicacion: <span class="text-white fw-normal">city</span></p>
                                <p class="card-text fw-bold secColor">Heroes solicitados: <span class="fw-normal text-white">@request.MembersNeeded</span></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}