
@{
    ViewData["Title"] = "Mi Perfil";
}
@section scripts{
    <script src="~/js/profileMb.js"></script>
}
@section logo{
    <a class=" img-container2" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Images/iconSol.png" /></a>
}
@section inicioLI{
    <li class="nav-item signUp">
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="LogOut">Cerrar Sesion</a>
    </li>
}
@section main{
    <section>
        <div class="container-fluid text-white">
            <div class="row d-flex justify-content-evenly align-items-start p-4 mt-3">
               <div class="col-lg-6 col-sm-12 p-2 thirdBg">
                    <div class="row d-flex justify-content-between p-2 m-auto" style="width: 100%;">
                        @if (ViewBag.modifyProfile == false)
                        {
                            <h3 class="text-center secColor font-title pb-2 col-12 border-bottom">Perfil</h3>
                            <h5 class="pb-2 pt-4 col-8"><b class="secColor">Completa tu perfil: </b> @ViewBag.missindFields Datos Faltantes</h5>
                            <p class="btn btn-outline-light mt-3  col-3 " onclick="location.href='@Url.Action("profileMb", "Home", new { modifyProfile = true })'">Completar <i class="fa-solid fa-plus"></i></p>
                            <h5 class="secColor pb-2 pt-4 col-12 font-title text-center"> @ViewBag.user.NamesUser @ViewBag.user.SurnamesUser</h5>
                            <h5 class="pb-2 col-12"> <span class="secColor">Correo:</span> @ViewBag.user.Email</h5>
                            <h5 class="pb-2 col-12"> <span class="secColor">Ciudad de residencia:</span> @ViewBag.locationResidence</h5>
                        }
                        else{
                            Html.RenderPartial("~/Views/HeroViews/_profileUpdate.cshtml");
                        }
        </div>
               </div>
                <div class="col-lg-5 col-sm-12 mt-lg-0 mt-sm-3 p-4 fourthBg reqProfile">
                    <h3 class="font-title text-center">Mis Solicitudes</h3>
                </div>
            </div>
        </div>
    </section>
}